{% extends 'base.jinja2' %}
{% import 'macros.jinja2' as macros %}

{% block body %}
	{{ macros.render_post(post, False, True) }}

	<footer>
		Want to discuss this article?
		<a href="https://discord.gg/010z0Kw1A9ql5c1Qe">Hop onto the Programming Discord</a>
	</footer>
{% endblock body %}
